:root{ 
    background: rgb(108, 108, 55);;
}
    
body {
    font-family: Arial, sans-serif;
    padding: 20px 0;
    text-align: center;
}

input, output {
    border: 2px solid black;
    border-radius: 5px;
    padding: 4px;
}

button {
    margin: 20px 0;
    background: white;
    color: black;
    border-radius: 10px;
    border: 1px solid black;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 8px;
}
